/************  UNIVERSAL STYLES  **************/

:root {
	--theme-darkgray: hsl(0, 0%, 20%);
	--theme-darkgray-transparent: hsla(0, 0%, 20%, 0.9);
	--theme-lightgray: hsl(0, 0%, 90%);
	--theme-lightgray-transparent: hsla(0, 0%, 90%, 0.9);
	--theme-purple: hsl(313, 45%, 45%);
	--theme-green: hsl(133, 60%, 60%);
	--theme-yellow: hsl(61, 96%, 74%);
	--theme-blue: hsl(189, 70%, 45%);
	--theme-darkblue: hsl(226deg 38% 50%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}


html {
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	background-color: var(--theme-darkgray);
	color: var(--theme-lightgray);
}

li {
	list-style-position: inside;
}

section {
	width: 80%;
	margin: 2.5rem auto;
	padding: 1.25rem;
	background-color: var(--theme-darkgray);
}

.lightgray {
	background-color: var(--theme-lightgray);
	color: var(--theme-darkgray);
}

.darkgray {
	background-color: var(--theme-darkgray);
	color: var(--theme-lightgray);
}

.brightgreen {
	background-color: var(--theme-green);
	color: var(--theme-darkgray);
}
.yellow {
	background-color: var(--theme-yellow);
	color: var(--theme-darkgray);
}
.skyblue {
	background-color:var(--theme-blue);
	color: var(--theme-darkgray);
}
.purple {
	background-color:var(--theme-purple);
	color: var(--theme-lightgray);
}

h1, h2, h3 {
	margin:0.625rem 0;
	color: inherit;
}

h1 {
	font-weight: 700;
	font-size: 2.5rem;
	font-family: 'Ubuntu';
}

h2 {
	font-weight: 500;
	font-size: 2rem;
	font-family:'Source Code Pro';
}

h3 {
	font-weight: 500;
	font-size: 1.4rem;
	font-family: 'Source Code Pro';
}

p, figcaption {
	font-weight: 400;
	font-size: 1.125rem;
	font-family: 'Roboto';
	line-height: 1.4;
	letter-spacing: 0.125em;
	margin-top: 1em;
}

img {
	width: 100%;
	height: auto;
}

a {
	font-weight: 500;
	color: inherit;
	font-size: 1.1em;
	text-decoration: inherit;
	font-weight: bold;
}
a:active {
	color: var(--theme-purple);
}

.center {
	text-align:center;
	margin: 0 auto;
}

button {
	display: inline;
    padding: 0.75em 2.5em;
	margin: 0.75rem;
    border-radius: 4px;
    border: 4px solid var(--theme-purple);
    background-color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
	color: inherit;
	cursor: pointer;
	transition: all ease-in-out 300ms;
}

button:hover {
	color: var(--theme-lightgray);
	background-color: var(--theme-purple);
	border: 4px solid transparent;
	opacity: 1;
}

button:active {
	opacity: 0.8;
}

main {
	position: relative;
	margin-top: 5.3125rem;
	overflow-x:hidden;
}

.material-icons {
	vertical-align: middle;
}

aside {
	position: relative;
}
aside::after {
	content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    top: 0px;
    left: 1rem;
    background-color: var(--theme-blue);
    transform: skew(20deg, -5deg);
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.25rem;
	}
	p {
		font-size: 1rem;
		letter-spacing: normal;
	}
}

/************  HEADER STYLES  *************/

header {
	position: fixed;
	top:0px;
	height: 5.3125rem; /* 85px */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:0.625rem 1.25rem;
	z-index: 10;
	background-color: var(--theme-darkgray);
	border-bottom: 1px solid var(--theme-purple);
}

header .mobile {
	display: none;
}

header .logo {
	height: 100%;
}

header .logo img {
	height:100%;
	width: auto;
}


#lightDarkModeButton {
	width: 50px;
    height: 20px;
    border: 2px solid var(--theme-lightgray);
    border-radius: 10px;
    background-color: #666;
	position: relative;
}
#lightDarkModeButton.active {
	background-color: var(--theme-green);
}
#lightDarkModeButton::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	width:18px;
	height:18px;
	top: 0px;
	left: 0px;
	border-radius: 8px;
	border: 2px solid var(--theme-lightgray);
	background-color: #e0e0e0;
}
#lightDarkModeButton.active::after {
	right: 0px;
	left: auto;
}
#lightDarkModeButton::before {
	content: "light mode";
	position: absolute;
	display:block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	bottom: -100%;
	font-size: 0.5rem;
}


nav {
	display: block;
	padding: 1rem;
	cursor:pointer;
}

nav ul {
	display: grid;
	grid-template: 1fr / repeat(3, 1fr);
	justify-content: space-between;
	justify-items: stretch;
	align-items:center;
	grid-auto-flow: column;
}

nav li {
	display:inline;
	padding: 1em;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	transition: all ease-in-out 300ms;
}
nav li a {
	font-weight: normal;

}
nav li a:active {
	color: var(--theme-blue);
}
nav li:hover {
	color: var(--theme-gray);
	background-color: var(--theme-purple);
}

@media screen and (max-width: 800px) {
	header {
		height: 4rem;
	}
	main {
		margin-top: 4rem;
	}

	header .mobile {
		display: block;
	}

	header .desktop {
		display: none;
	}

	nav {
		position: relative;
	}
	nav img.close {
		display: none;
		filter: invert(0.8);
	}

	nav ul {
		display: block;
		position: fixed;
		top: 3.9rem;
		right: 1.25rem;
		width: 50%;
		background-color: var(--theme-darkgray);
		color: var(--theme-gray);
		box-shadow: -5px 5px 5px 0px var(--theme-purple);
	}

	nav ul li {
		display: none;
		color: inherit;
	}
	nav li:hover {
		background-color: var(--theme-blue);
		color: var(--theme-darkgray);
		opacity: 1;
	}

	nav.active {
		background-color: var(--theme-darkgray);
	}
	nav.active img.open {
		display: none;
	}
	nav.active img.close {
		display: block;
	}
	nav.active ul {
		display: block;
	}
	nav.active ul li {
		display: block;
	}
	
}


/************ HERO STYLES *************/

#hero {
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url('images/hero-background.png');
	background-size: cover;
	background-position: right center;
	display: flex;
	justify-content: start;
	align-content: center;
}

#hero .card.content {
	grid-area: card;
	width: 35rem;
	max-width: 85%;
	padding: 2rem;
	margin: 4rem 7rem;
	background-color: var(--theme-blue);
	color: var(--theme-lightgray);
	display: grid;
	gap: 0.5rem 0rem;
	justify-content: center;
	grid-template-areas:
		"image name"
		"image title"
		"image contact"
		"synaptic synaptic"
		"button button";
	grid-template-columns: 150px 1fr;
}

#hero .card.content figure {
	grid-area: image;
	position: relative;
	left: -3rem;
}
#hero .card.content figure img {
	position: relative;
	border: 3px solid var(--theme-purple);
	z-index: 1;
}
#hero .card.content figure::after {
	content: "";
    background-color: var(--theme-darkblue);
    display: block;
    position: absolute;
    top: 0px;
    left: -10px;
    width: 110%;
    height: 95%;
    z-index: 0;
    transform: skew(5deg, 10deg);
}

#hero .card.content h1 {
	grid-area: name;
}
#hero .card.content h3 {
	grid-area: title;
}
#hero .card.content .contact-info {
	grid-area: contact;
	text-align: left;
	line-height: 1.5;
	font-size: 18px;
}
#hero .card.content .synaptic-logo {
	grid-area: synaptic;
    padding: 0 0.75rem;
    background-color: var(--theme-darkgray);
	border: 3px solid var(--theme-lightgray);
    margin: 1rem;
}
#hero .card.content .button {
	grid-area: button;
	text-align:center;
}



#hero .card.content {
	grid-template-areas:
		"image name"
		"image title"
		"contact contact"
		"synaptic synaptic"
		"button button";
	grid-template-columns: 150px 1fr;
}
@media screen and (max-width: 800px) {
	#hero .card.content {
		margin: 2em auto;
	}

}


@media screen and (max-width: 600px) {
	#hero .card.content figure {
		left: -1rem;
	}	
}


/*********  ABOUT ME STYLES  ************/

#about {
    padding: 0;
	display: grid;
	gap: 0.625rem;
	grid-template-areas:
		"title aside"
		"content aside"
		"experience experience";
	grid-template-columns: 2fr 1fr;
}
#about h2 {
	grid-area: title;
	color: var(--theme-green);
}
#about .executive-summary {
	grid-area: content;
	margin-bottom: 2rem;
}
#about aside {
	grid-area: aside;
    background-color: var(--theme-purple);
    padding: 1.8rem;
    margin: 0 -4rem 0 2em;
}
#about aside p {
	font-size: 1rem;
	color: hsl(0, 0%, 90%);
}
#about aside h4 {
	font-family: 'Source Code Pro';
	font-size:2rem;
	text-align: center;
	color: hsl(0, 0%, 90%);
}

/*  JOB CARDS */

#about .experience {
	margin-top:2rem;
	grid-area: experience;
	display: grid;
	grid-template-areas:
		"exp exp exp exp"
		". job job .";
	grid-template-columns: 1% 1fr 1fr 1%;
}

#about .experience > h3 {
	grid-area: exp;
	color: var(--theme-yellow);
}
#about .experience .job-cards {
	grid-area: job;
	display:flex;
	flex-wrap: wrap;
}

#about .experience .job-card {
	flex: 1 1 520px;
    display: grid;
    grid-template-areas:
        "job-title job-company"
        "job-title job-date"
        "job-desc job-desc"
        "job-items job-items";
    margin: 1rem 1%;
	min-width: 550;
    background-color: var(--theme-darkblue);
    padding: 2rem;
    box-shadow: -3px 3px 12px -8px var(--theme-yellow);
}

#about .experience .job-card h4 {
	grid-area: job-company;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
	text-align: right;
	color: hsl(0, 0%, 90%);

}
#about .experience .job-card h5 {
	grid-area: job-title;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.75rem;
	color: hsl(0, 0%, 90%);

}
#about .experience .job-card h6 {
	grid-area: job-date;
	font-family: 'Roboto', sans-serif;
	font-size: 0.75rem;
	text-align: right;
	color: hsl(0, 0%, 90%);

}
#about .experience .job-card p {
	grid-area: job-desc;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: normal;
	color: hsl(0, 0%, 90%);
}

#about .experience .job-card ul {
	grid-area: job-items;
	margin: 1.5rem 0;
}
#about .experience .job-card ul li {
	list-style: outside circle;
	line-height: 1.2;
	margin: 0.25rem 0;
	color: hsl(0, 0%, 90%);

}


@media screen and (max-width: 800px) {
	#about {
		grid-template-areas:
			"title"
			"content"
			"aside"
			"experience";
		grid-template-columns: 100%;
	}
	#about aside {
		margin: 0 auto;
	}
	
}

@media screen and (max-width: 600px) {
	#about {
		width: 90%;
	}

	#about .experience .job-card {
		grid-template-areas:
			"job-title job-title"
			"job-company job-date"
			"job-desc job-desc"
			"job-items job-items";
		margin: 1rem 0;
		width: 96%;
		padding: 1.5rem;
	}
	
}




/************  SKILLS  **************/
#skills {
    background-color: var(--theme-blue);
    width: 100%;
    margin: 0;
}

#skills .content {
	padding: 2rem 4rem;
	background-color: var(--theme-darkgray);
}

#skills h2 {
	color: var(--theme-blue);
}

#skills article p {
	font-size: 1rem;
}

#skills .skill-set {
	display: grid;
    grid-template-areas: "label bar";
	grid-template-columns: 150px 1fr;
    align-content: stretch;
    align-items: center;
	margin: 0;
}
#skills .skill-set h3 {
	grid-area: label;
	display: inline-block;
	font-size:1.1rem;
}
#skills .skill-set .exp-bar-container {
	grid-area: bar;
    position: relative;
    height: 20px;
    border: 2px solid var(--theme-lightgray);
    border-radius: 10px;
	font-size:0.75rem;
	margin: 0 30px;
}
#skills .skill-set .exp-bar-container::before {
	content: "0yr";
	position: absolute;
	top: 2px;
	left: -30px;
}
#skills .skill-set .exp-bar-container::after {
	content: "12yr";
	position: absolute;
	top: 2px;
	right: -30px;
}

:root {
	--data-years: 0;
}
#skills .skill-set .exp-bar {
	position: relative;
	width: calc((var(--data-years) /12) * 100%);
	height: 100%;
	border-radius: 15px;
	background-color: var(--theme-green);
}
#skills .skill-set .exp-bar::after {
	content: attr(data-years);
	font-size: 0.75rem;
	font-weight: bold;
	position: absolute;
	top: 2px;
	color: hsl(0, 0%, 20%);
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 600px) {
	#skills .skill-set {
		grid-template-areas:
			"label"
			"bar";
		grid-template-columns: auto;
	}

	#skills .content {
		width:100%;
	}
}

/**********  QUOTE  **********/


#quote {
	width: 100%;
	margin: 0;
	padding: 3%;
	position: relative;
	background-image: url('images/quote-background.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
}
#quote * {
	position: relative;
	z-index:2;
	color: hsl(0, 0%, 90%);
}

#quote .transparent-cover {
	position: absolute;
	top:0px;
	left:0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	/* opacity: 0.5; */
	z-index:unset;
}

#quote h3 {
	font-size: 2rem;
	font-family: 'Source Code Pro', sans-serif;
	margin: 0.5em;
	text-align: center;
}

#quote h4 {
	font-size: 1em;
	font-family: 'Roboto', cursive;
	text-align: right;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	#quote h3 {
		font-size: 1.5rem;
	}
}



/***********  CERTIFICATIONS  *********/


#certifications {
	width: 100%;
	margin: 0;
	padding: 2rem;
}

#certifications .content {
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
	gap: 2rem;
}

#certifications h2 {
	color: var(--theme-green);
}

#certifications figure {
	display: inline-block;
	width:calc(100% - 4rem);
	max-width: 500px;
	margin: 2rem;
}
#certifications figure img {
	width: 100%;
	margin-bottom: 1.5rem;
}

@media screen and (max-width: 800px) {
	#certifications {
		padding: 1rem;
		grid-template-areas: "content" "construction";
		grid-template-columns: auto;
	}
	#certifications .content {
		grid-area: content;
		padding: 1rem;
	}
}



/***********  PROJECTS  *************/
#projects {
	width: 100%;
	margin: 0;
	padding: 5rem;
	background-image: url('images/skills-background.png');
	background-size: cover;
}
#projects .content {
	width: 100%;
    background-color: var(--theme-darkgray-transparent);
    padding: 1rem;
    height: 100%;
}

#projects h2 {
	color: var(--theme-yellow);
}

#projects .project {
	display: grid;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    border: 2px solid var(--theme-darkblue);
    grid-template-areas:
        "logo small-description"
        "description description";
    grid-template-columns: 350px 1fr;
    align-items: center;
    gap: 0rem 3rem;
}
#projects .project figure {
	grid-area: logo;
	max-width: 350px;
}
#projects .project aside p {
	grid-area: small-description;
    font-size: 0.9rem;
    border-left: 3px solid var(--theme-darkblue);
    padding-left: 2rem;
	text-align: justify;
}
#projects .project aside a {
	display: block;
    text-decoration: underline;
    text-align: center;
    margin-top: 0.25em;
}
#projects .project article {
	grid-area: description;
}

#gitHubRepo ul {
	padding: 1.5rem;
	margin: 1.5rem;
}
#gitHubRepo li {
	display: flex;
	border-bottom: 1px solid var(--theme-blue);
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem 1.5rem;
}
#gitHubRepo li.header {
	font-size: 1.2rem;
	font-weight: normal;
	font-family: 'Source Code Pro', sans-serif;
	grid-template-columns: auto;
	justify-content: center;
}
#gitHubRepo li > div {
	padding: 0.5rem;
	line-height: 1.5;
}
#gitHubRepo li > div:first-of-type {
	flex: 1 1 300px;
}

#gitHubRepo .icons {
	flex: 1 1 auto;
	text-align:right;
}
#gitHubRepo .icons a {
	display: inline-block;
	width: 30px;
	margin: 0px 10px;
}
#gitHubRepo .icons img {
	width: 100%;
}

@media screen and (max-width: 1100px) {
	#projects {
		padding: 1rem;
	}
}

@media screen and (max-width: 800px) {
	#projects {
		padding: 0.5rem;
	}
	#projects .project {
		grid-template-areas:
			"logo"
			"small-description"
			"description";
		grid-template-columns: auto;

	}
}

@media screen and (max-width: 600px) {
	#projects .project {
		width: 100%;
		padding: 0.5rem;
	}
	#projects .project aside p {
		padding: 0 1rem 0 1rem;
	}
	#gitHubRepo ul {
		padding: 1rem;
		margin: 1.5rem 0.25rem;
	}
}


/***********  FOOTER  *************/

footer {
	display: grid;
    grid-template-areas:
		"sitemap contact ."
		"copyright copyright copyright";
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
	justify-items: center;
	align-items: center;
	gap: 2rem 0;
    color: var(--theme-gray);
    background-color: var(--theme-darkgray);
	border-top: 1px solid var(--theme-purple);
}

footer * {
	color: inherit;
	padding: 0.25rem;
}

footer p {
	line-height:normal;
	letter-spacing: normal;
	margin-top: 0;
}

footer figure {
	width: 50%;
}

#sitemap {
	grid-area: sitemap;
}
#sitemap li {
	display: block;
	margin-left:20%;
	text-decoration: underline;
}

#contact-info {
	grid-area: contact;
}

#copyright {
	grid-area: copyright;
	text-align: center;
}


@media screen and (max-width: 600px) {
	footer {
		grid-template-areas:
			"contact contact"
			"sitemap ."
			"copyright copyright";
		grid-template-columns: 1fr 1fr;
	}

	footer figure {
		width: 90%;
	}
}


